{% include 'includes/header.html' %}
<h5 class="card-title">Edit List</h5>

    <table class="table table-striped table-hover table-bordered">
         <thead class="table-dark">
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">city</th>
            <th scope="col">Pincode</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
         </thead>
         <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row["name"]}}</td>
                    <td>{{row["addr"]}}</td>
                    <td> {{row["city"]}}</td>
                    <td>{{row['pin']}}</td>	
                    <td>
                        <form 
                        method="get"
                        action = "{{ url_for('edit',id=row['id']) }}"
                        >
                            <input type = "submit" value = "⚙" class="btn btn-light"/>
                        </form>
                    </td>	
                    <td>
                        <form 
                        method="post"
                        action = "{{ url_for('deleterec',id=row['id']) }}"
                        onSubmit="return confirm('Are you sure you wish to delete?');">
                            <input type = "submit" value = "❌" class="btn btn-light"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-success" href = "{{ url_for('new_student')}}">add</a>     
      <a class="btn btn-secondary" href = "{{ url_for('home')}}">back</a>

      {% include 'includes/footer.html' %}